<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{%= title %}</title>
  <meta name="description" content="{%= description %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <header></header>

  <h1>Polaroid Neutra</h1>
  <p>
    Salvia gentrify PBR Bushwick plaid fanny pack, pickled blog banjo typewriter Truffaut next level viral
    hella before they sold out.  Mustache before they sold out gluten-free, tofu Pinterest 3 wolf moon
    cornhole actually bicycle rights cardigan meh cred Vice.  Intelligentsia artisan shoreditch yr helvetica.
    Disrupt VHS try-hard keytar banh mi yr.  IPhone pickled deep v gastropub bicycle rights.
  </p>
  <p>
    Brunch scenester photo booth, literally DIY keffiyeh Marfa irony 3 wolf moon helvetica american apparel
    leggings kitsch.  Polaroid plaid Carles american apparel, bespoke semiotics beard 90's umami Tonx.
    Small batch Echo Park art party organic Truffaut Austin, chillwave McSweeney's.  VHS bitters pour-over,
    Neutra you probably haven't heard of them trust fund Portland Echo Park put a bird on it deep v.
  </p>

  <footer></footer>

  <script src="{%= pathToBower %}/jquery/jquery.js"></script>
  <script src="assets/js/{%= name %}.js"></script>
</body>
</html>
